.settingsContents--sectionsInHtml {
   display: flex;
   justify-content: center;
   align-items: start;
   height: 87px;
}

.settingsHeader--sectionsInHtml {
   color: white;
   text-align: center;
   padding: 2px;
   background-color: black;
   border-radius: 10px;
   margin: 25px 5px;
   font-size: 16px;
   width: 100%;
}

.outputImage--sectionsInHtml {
   width: 60%;
   height: 95%;
}