html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: grey;
  font-size: 15px;
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  border: 1px solid black;
  margin: 10px auto;
  min-width: 699px;
  max-width: 2560px;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
}

@media (max-width: 1649px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

@media (orientation: portrait) {
  .container {
    min-height: calc(100vh - 20px);
  }
}

.navContainer {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  width: max-content;
  padding: 5px;
}

@media (max-width: 1649px) {
  .navContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
  }
}

.mainContainer {
  margin: 10px;
  transition: opacity 0.5s ease;
  overflow: scroll;
  position: relative;
  align-items: stretch;
}

.labelContainer {
  position: sticky;
  top: 0;
}

.labelContents {
  display: block;
  background-color: rgb(60, 206, 250);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  font-weight: 700;
  transition: height 0.3s ease;
  overflow-y: hidden;
}

.settingsContainer {
  grid-area: set;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  transition: opacity 0.5s ease;
}

@media (max-width: 1649px) {
  .settingsContainer {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.settingsContents {
  align-self: stretch;
  display: block;
  background-color: rgb(60, 206, 250);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  font-weight: 700;
  overflow: hidden;
  transition: height 0.3s ease;
  overflow-y: scroll;
}

.outputContainer {
  grid-area: out;
  display: flex;
  flex-direction: row;
  font-size: 19px;
  transition: opacity 0.5s ease;
  width: 100%;
  gap: 10px;
}

@media (max-width: 1649px) {
  .outputContainer {
    font-size: 1.5vw;
  }
}

@media (max-width: 768px) {
  .outputContainer {
    flex-direction: column;
    font-size: 1.8vw;
  }
}

.outputContents {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

.labelHeader {
  margin-left: 10px;
  color: white;
  text-align: left;
  padding: 5px 10px;
  background-color: black;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
}

.labelParagraph {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .labelParagraph {
    margin-left: 4%;
  }
}

.labelParagraph--areaText {
  margin-left: 60px;
}

@media (max-width: 768px) {
  .labelParagraph--areaText {
    margin-left: 8%;
  }
}

.strong {
  font-weight: 700;
  font-size: 18px;
  text-shadow: 0.5px 0.5px rgb(70, 70, 70);
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.settingsElements {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: start;
}

.button {
  text-align: start;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;
  min-width: max-content;
  padding: 4px 10px;
  margin: 4px;
  font-weight: 700;
  cursor: pointer;
}

select,
option {
  text-align: start;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;
  min-width: max-content;
  padding: 4px 10px;
  margin: 4px;
  font-weight: 700;
  cursor: pointer;
}

.selectLabel {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .button {
    min-width: fit-content;
  }
}

.button--nav {
  font-weight: 900;
}

@media (min-width: 1650px) {
  .button--nav {
    text-align: center;
  }
}

.button:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0 0;
  background-color: #32fa64;
}

.button--active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0 0;
  background-color: #32fa64;
}

.button--run {
  background-color: hsl(0, 100%, 63%);
}

.button--run:hover {
  background-color: hsl(0, 100%, 55%);
}

.button--run:active {
  background-color: #32fa64;
}

.button:disabled {
  background-color: hsl(0, 0%, 60%);
}

.input {
  text-align: start;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;
  min-width: max-content;
  padding: 4px 10px;
  margin: 4px;
  font-weight: 700;
  cursor: pointer;
}

.rangeArraySize {
  color: black;
  text-align: start;
  border: 1px solid black;
  outline: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;
  min-width: max-content;
  padding: 5px 0;
  margin: 5px;
  font-weight: 700;
  cursor: pointer;
  width: 100vw;
  height: 26px;
}

.rangeIndex {
  color: black;
  text-align: start;
  border: 1px solid black;
  outline: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;
  min-width: 260px;
  padding: 5px 0;
  margin: 5px;
  font-weight: 700;
  cursor: pointer;
  height: 26px;
}

.rangeContiner {
  width: 100%;
  display: flex;
  align-items: center;
}

.propertyElements {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  align-content: center;
}

.valueElements {
  min-width: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.valueElements--range {
  min-width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.outputLabelTop {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
}

.outputLabelLeft {
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
}

.outputLabelRight {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
}

.outputLabelBottom {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}

.outputLabelCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  z-index: 1;
}

.outputParent {
  position: relative;
  border: 3px dashed white;
  width: 85%;
  background: purple;
  padding: 0;
  transition: all 0.3s ease;
  align-self: stretch;
  margin: 5em auto;
}

.outputLabel {
  position: absolute;
  left: 1%;
  top: 1%;
}

.settingsChild {
  display: inline-block;
  text-align: center;
  min-height: content;
  min-width: min-content;
  margin-top: 5px;
  font-weight: 900;
  padding: 2px;
  font-size: 20px;
}

.outputChild {
  border: 1px solid black;
  color: black;
  font-weight: bold;
  background-color: #32fa64;
  font-size: 2em;
  margin: 0;
  padding: 1%;
  transition: all 0.5s ease;
  position: relative;
  z-index: 1;
}

.outputChild--withSize {
  display: grid;
  place-content: center;
  text-align: center;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  background-color: #32fa64;
  width: 12vw;
  max-width: 100px;
  height: 12vw;
  max-height: 100px;
  font-size: 1em;
  margin: 0;
  padding: 1%;
  transition: all 0.5s ease;
  z-index: 1;
}

.childSelected {
  color: red;
}

.sectionBorder {
  border-bottom: 1px solid black;
  width: 100%;
}

.sectionDivision {
  width: 1px;
  background: black;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  opacity: 0;
}

.noneVisibility {
  visibility: hidden;
}

.none {
  display: none;
}

.imgContainer {
  margin: 50px 20px 20px;
  border: 1px solid darkgrey;
}

.methods--label {
  display: inline-block;
  min-width: max-content;
  text-align: start;
  margin: 25px 0 0 30px;
  font-weight: 900;
  padding: 2px;
  font-size: 25px;
}

.range--label {
  display: inline-block;
  min-width: max-content;
  text-align: start;
  margin: 0 0 0 10px;
  font-weight: 900;
  padding: 2px;
  font-size: 24px;
  align-self: center;
}

.methodInput {
  text-align: start;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;
  width: 100px;
  padding: 2px 5px;
  margin: 4px;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
}

@media (max-width: 960px) {
  .methodInput {
    width: 50px;
    padding: 2px 3px;
    font-size: 12px;
  }
}

.methodName {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
}

@media (max-width: 960px) {
  .methodName {
    font-size: 12px;
  }
}

.methodName--parameters {
  display: flex;
  flex-wrap: nowrap;
  min-height: content;
  width: max-content;
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  height: 35px;
  align-items: center;
}

@media (max-width: 960px) {
  .methodName--parameters {
    font-size: 12px;
    height: 32px;
  }
}

.nowrap {
  white-space: nowrap;
}

.unknown {
  color: red;
}

.errorInput {
  background: pink;
}

.form {
  display: flex;
  flex-wrap: nowrap;
}
