.settingsContents--HtmlTags {
   max-height: 280px;
   overflow-y: scroll;
}

.settingsSubcontainer--HtmlTags {
   display: flex;
   justify-content: space-between;
   align-items: start;
   gap: 20px;
   padding: 0;

}

.outputImage--HtmlTags {
   position: relative;
   top: 10px;
   width: 100%;
   height: 95%;
   padding: 10px;
   object-fit: contain;

}

.button--example {
   margin-top: 15px;
   margin-right: 40px;
}

@media (max-width: 768px) {
   .button--example {
      margin-right: 5%;
   }
}