.mainContainer--htmlTags {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "lab"
    "out";
}

.labelContents--HtmlTags {
  overflow-y: scroll;
  height: 100%;
}

.settingsSubcontainer--HtmlTags {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  padding: 0;
}

.outputImage--HtmlTags {
  width: 100%;
  position: relative;
  top: 2px;
  padding: 1px 2px;
}

.outputContents--HtmlTags {
  align-items: flex-start;
  height: 100%;
}

.button--example {
  margin-top: 15px;
  margin-right: 40px;
}

@media (max-width: 768px) {
  .button--example {
    margin-right: 5%;
  }
}