.mainContainer--objects {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "lab set"
    "out set"
  ;
}

@media (max-width: 1649px) {
  .mainContainer--objects {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "set"
      "lab"
      "out"
    ;
  }
}

.labelContainer--objects {
  position: static;
}

.labelContents--objects {
  min-width: 559px;
  max-width: 559px;
  line-height: 1.5;
  font-family: monospace;
  min-height: 150px;
}

@media (max-width: 1649px) {
  .labelContents--objects {
    min-width: 100%;
  }
}

@media (min-width: 1650px) {
  .settingsContainer--objects {
    overflow-y: scroll;
  }
}

.settings--objects {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: start;
  align-items: end;
}

.labelParagraph--objects {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  word-break: break-word;
}

.propertyElements--objects {
  width: 515px;
  justify-self: flex-end;
  align-items: center;
}

@media (max-width: 960px) {
  .propertyElements--objects {
    width: 345px;
  }
}

.valueElements--objects {
  justify-self: flex-start;
}

.outputContents--objects {
  word-spacing: 5px;
  line-height: 2;
  padding: 50px 5%;
  font-size: 18px;
  justify-content: flex-start;
  line-height: 2;
  min-height: 150px;
  font-family: monospace;
  display: inline;
  word-break: break-word;
  width: 100%;
  max-width: 559px;
  min-width: 559px;
  line-height: 1.5;
}

@media (max-width: 1649px) {
  .outputContents--objects {
    min-width: 100%;
  }
}

.button--objects {
  padding: 4px 6px;
}