.settingsParagraph--arrays {
   margin-top: 5px;
   margin-bottom: 5px;
}

.propertyButtons--arrays {
   width: 230px;
 }
 
 @media (max-width: 768px) {
   .propertyButtons--arrays {
     width: 150px;
   }
 }


.outputContents--arrays {
   /* aspect-ratio: 16/9; */

   color: white;
/* position: relative;    */
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: black;

   word-spacing: 5px;
   line-height: 2;

   /* align-self: stretch; */
   display: block;


   border-radius: 5px;
   padding: 50px 5%;
   flex-grow: 1;
   font-size: 18px;
   /* font-weight: 400; */
 /*  min-height: content; */
}

.methodInput {
   text-align: start;
   border: 1px solid black;
   border-radius: 5px;
   box-shadow: 2px 2px;
   /* min-width: max-content; */
   width: 100px;
   padding: 4px 10px;
   margin: 4px;
   font-weight: 700;
   cursor: pointer;
}

.settingsMethod {
   
align-self: center;
   /* text-align: center; */
   min-height: content;
   min-width: min-content;
   margin: 0 0 0 5px;
   font-weight: 900;
   /* padding: 2px; */
   font-size: 16px;
}