.mainContainer--grid {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "lab set"
    "out out"
  ;
}

@media (max-width: 1649px) {
  .mainContainer--grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "set"
      "lab"
      "out"
    ;
  }
}

.labelContents--grid {
  min-width: 525px;
  flex-grow: 0;
}

@media (max-width: 768px) {
  .labelContents--grid {
    min-width: 420px;
  }
}

.labelParagraph--grid {
  margin-top: 5px;
  margin-bottom: 5px;
}

.propertyElements--grid {
  width: 230px;
}

@media (max-width: 768px) {
  .propertyElements--grid {
    width: 150px;
  }
}

.outputContainer--grid {
  aspect-ratio: 16/9;
}

.outputContents--grid {
  min-height: 500px;
}