.settingsContents--grid {
   min-width: 265px;
   min-height: 170px;
   flex-grow: 0;
}

@media (min-width: 768px) {
   .settingsContents--grid  {
      min-width: 410px;
   }
}

.settingsParagraph--grid {
   margin-top: 5px;
   margin-bottom: 5px;
}

.outputContents--grid {
   aspect-ratio: 16/9;
}

.propertyButtons--grid {
  width: 235px;
}

@media (max-width: 768px) {
  .propertyButtons--grid {
    width: 180px;
  }
}