.mainContainer--strings {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "lab set"
    "out set";
}

@media (max-width: 1649px) {
  .mainContainer--strings {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "set"
      "lab"
      "out"
    ;
  }
}

.labelContainer--strings {
  position: static;
}

.labelContents--strings {
  min-width: 559px;
  max-width: 559px;
  line-height: 1.5;
  font-family: monospace;
  min-height: 150px;
}

@media (max-width: 1649px) {
  .labelContents--strings {
    min-width: 100%;
  }
}

@media (min-width: 1650px) {
  .settingsContainer--strings {
    overflow-y: scroll;
  }
}

.settings--strings {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
}

.labelParagraph--strings {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  word-break: break-word;
}

.propertyElements--strings {
  width: 515px;
  justify-self: flex-end;
}

@media (max-width: 960px) {
  .propertyElements--strings {
    width: 345px;
  }
}

.valueElements--strings {
  justify-self: flex-start;
}

.outputContents--strings {
  word-spacing: 5px;
  line-height: 2;
  padding: 50px 5%;
  font-size: 18px;
  justify-content: flex-start;
  line-height: 2;
  min-height: 250px;
  font-family: monospace;
  display: inline;
  word-break: break-word;
  width: 100%;
  max-width: 559px;
  min-width: 559px;
  line-height: 1.5;
}

@media (max-width: 1649px) {
  .outputContents--strings {
    min-width: 100%;
    min-height: 650px;
  }
}

.button--strings {
  padding: 4px 6px;
}