.settingsHeader--terminal {
   /* color: white;
   text-align: left;
   padding: 5px;
   background-color: black;
   border-radius: 10px;
   font-size: 16px;
   margin: 5px 5px 15px;
   margin-bottom: 0; */
}

.outputImage--terminal {
   position: absolute;
   top: 30px;
   width: 95%;
   height: 85%;
   object-fit: contain;
}
