.mainContainer--terminal {
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr;
   grid-template-areas:
      "lab"
      "out"
   ;
}

.outputImage--terminal {
  margin-top: 30px;
  width: 100%;
  max-height: 1000px;
  padding: 3%;
  /* object-fit: contain; */
}

.outputContents--terminal {
  align-items: flex-start;
  height: fit-content;
}