.mainContainer--flex {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "lab set"
    "out out"
  ;
}

.labelContents--flex {
  min-width: 330px;
  flex-grow: 0;
}

@media (max-width: 768px) {
  .labelContents--flex {
    min-width: 230px;
  }
}

.labelParagraph--flex {
  margin-top: 5px;
  margin-bottom: 5px;
}

.outputContents--flex {
  aspect-ratio: 16/9;
}

@media (min-width: 1650px) {
  .outputContents--flex {
    min-height: 500px;
  }
}

.propertyElements--flex {
  width: 165px;
}

@media (max-width: 768px) {
  .propertyElements--flex {
    width: 120px;
  }
}