.settingsContents--flex {
   min-width: 400px;
   flex-grow: 0;
}

@media (max-width: 768px) {
   .settingsContents--flex {
      min-width: 265px;
   }
}

.settingsParagraph--flex {
   margin-top: 5px;
   margin-bottom: 5px;
}

.outputContents--flex {
   aspect-ratio: 16/9;
}

@media (min-width: 1600px) {
   .outputContents--flex {
      min-height: 500px;
   }
}

.propertyButtons--flex {
   width: 165px;
}

@media (max-width: 768px) {
   .propertyButtons--flex {
      width: 120px;
   }
}