.settingsContents--flex {
   min-width: 265px;
   min-height: 170px;
   flex-grow: 0;
}

.settingsParagraph--flex {
   margin-top: 5px;
   margin-bottom: 5px;
}

.outputContents--flex {
  height: 50vw;
}