.settingsContents--positioning {
   max-width: 270px;
   height: 290px;
}

.settingsParagraph--positioning {
   line-height: 0.5;
}

.propertyButtons {
   text-align: right;
}

.valueButtons {
   text-align: left;
}

.outputLabelTop {
   position: absolute;
   top: 10px;
   left: 50%;
   transform: translateX(-50%)
}

.outputLabelLeft {
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%)
}

.outputLabelRight {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%)
}

.outputLabelBottom {
   position: absolute;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%)
}

.outputLabelCenter {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   font-size: 22px;
}

.outputParent {
   position: relative;
   border: 3px dashed white;
   width: 85%;
   height: 75%;
   background: purple;
   padding: 0;
}

.outputChild {
   display: grid;
   place-content: center;
   border: 1px solid black;
   color: black;
   font-weight: bold;
   background-color: #32fa64;
   border-radius: 10px;
   width: 100px;
   height: 100px;
   font-size: 22px;
   margin: 0;
   z-index: 1;
}

.outputChild--default {
   display: grid;
   place-content: center;
   text-align: center;
   border: 1px solid black;
   color: black;
   font-weight: bold;
   background-color: #32fa64;
   border-radius: 10px;
   width: 100px;
   height: 100px;
   font-size: 16px;
   margin: 0;
}