.settingsContents--positioning {
   min-width: 265px;
   min-height: 275px;
   flex-grow: 0;
}

.settingsParagraph--positioning {
   margin-top: 5px;
   margin-bottom: 5px;
}

.propertyButtons {
   text-align: right;
}

.valueButtons {
   text-align: left;
}

.outputContents--positioning {
   aspect-ratio: 16/9;
}

.outputLabelTop {
   position: absolute;
   top: 1%;
   left: 50%;
   transform: translateX(-50%)
}

.outputLabelLeft {
   position: absolute;
   left: 1%;
   top: 50%;
   transform: translateY(-50%)
}

.outputLabelRight {
   position: absolute;
   right: 1%;
   top: 50%;
   transform: translateY(-50%)
}

.outputLabelBottom {
   position: absolute;
   bottom: 1%;
   left: 50%;
   transform: translateX(-50%)
}

.outputLabelCenter {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   font-size: 3vmin;
}

.outputParent {
   position: relative;
   border: 3px dashed white;
   width: 85%;
   height: 75%;
   background: purple;
   padding: 0;
}

.outputChild {
   display: grid;
   place-content: center;
   border: 1px solid black;
   color: black;
   font-weight: bold;
   background-color: #32fa64;
   border-radius: 5px;
   width: 12vw;
   max-width: 100px;
   height: 12vw;
   max-height: 100px;
   font-size: 3vmin;
   margin: 0;
   z-index: 1;
   padding: 1%;
}

.outputChild--default {
   display: grid;
   place-content: center;
   text-align: center;
   border: 1px solid black;
   color: black;
   font-weight: bold;
   background-color: #32fa64;
   border-radius: 5px;
   width: 12vw;
   max-width: 100px;
   height: 12vw;
   max-height: 100px;
   font-size: 2vmin;
   margin: 0;
   padding: 1%;
}